#Data Types and Structures
1.What are data structures, and why are they important?
  - Data structures are specialized formats for organizing, processing, and storing data in a way that makes it efficient to access and modify. Think of them as the building blocks that allow computers to handle data in useful ways.

2.Explain the difference between mutable and immutable data types with examples.
  - Mutable data type- Can be changed in place without changing the object's identity.
  Examples of mutable data type- list, dictonary, set
  Immutable data type- Cannot be changed after creation. Any "change" creates a new object.
  Examples of immutable data type- string, tuple, frozen sets

3.What are the main differences between lists and tuples in Python?
  - Lists can be changed after creation (add, remove, modify elements).
  Tuples cannot be changed once created.

4.Describe how dictionaries store data
  - Dictionaries in Python store data using a key-value pair format and are implemented using a hash table under the hood.

5.Why might you use a set instead of a list in Python?
  - I might use a set instead of a list for following reason-
  1)Sets automatically remove duplicates, while lists allow them.
  2)Sets use a hash table, so checking if an item exists is O(1) on average.
  3)Sets support mathematical operations like:Union, Intersection, Difference, Symmetric difference

6.What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).

7.How do tuples ensure data integrity in Python?
  - Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifecycle.

8.What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores key-value pairs, using a hash function to compute an index (hash code) for each key, which determines the location (bucket or slot) where the value is stored. This allows for efficient retrieval of values based on their keys.
  In Python, dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key using its built-in hash() function. This hash value is then used to determine the index in the underlying hash table where the value will be stored. When retrieving a value, Python again calculates the hash value of the key and uses it to quickly locate the corresponding value in the hash table.

9.Can lists contain different data types in Python?
  - Yes, lists in Python can contain elements of different data types. A single list can hold integers, strings, floats, booleans, and even other lists, tuples, or dictionaries. This flexibility is a key feature of Python lists.

10.Explain why strings are immutable in Python?
  - Strings are immutable in Python for reasons related to efficiency, safety, and design principles. Immutability ensures that once a string is created, its value remains constant throughout its lifetime.

11.What advantages do dictionaries offer over lists for certain tasks?
  - advantages dictionaries offer over lists for certain tasks-
  Fast lookup by keys, Meaningful key vs indexes, Structured data representation, dynamic and flexible.

12.Describe a scenario where using a tuple would be preferable over a list.
  - Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change.

13.How do sets handle duplicate values in Python?
  - In Python, sets automatically eliminate duplicate values. When you add elements to a set, only unique items are stored—any duplicates are ignored.

14.How does the “in” keyword work differently for lists and dictionaries?
  - The in and not in operator works on dictionaries; it tells you whether something appears or not as a key in the dictionary. It returns two values True or False. The in operator uses different algorithms for lists and dictionaries. For lists, it uses a search algorithm.

15.Can you modify the elements of a tuple? Explain why or why not.
  - No, you cannot directly modify the elements of a tuple in Python after it's been created. Tuples are immutable, meaning their contents cannot be changed once they are defined.

16.What is a nested dictionary, and give an example of its use case?
  - A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows for the creation of a hierarchical structure where data can be organized into multiple levels. A common use case for nested dictionaries is representing complex, multi-layered data, such as employee information with nested address and contact details.

17.Describe the time complexity of accessing elements in a dictionary.
  - Accessing an element in a dictionary using its key typically has a time complexity of O(1) on average, meaning it takes constant time, regardless of the dictionary's size.

18.In what situations are lists preferred over dictionaries?
  - For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
  - A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added. In older versions of Python (before 3.7), dictionaries did not preserve insertion order at all.

20.Explain the difference between a list and a dictionary in terms of data retrieval.
  - In terms of data retrieval, a dictionary offers significantly faster lookup of values based on unique keys compared to a list, which relies on numerical indices. Dictionaries, using a hash table, can find values associated with a key in an average of O(1) (constant) time, while lists, requiring sequential searching, have an average time complexity of O(n) (linear).

In [ ]:
#1.Write a code to create a string with your name and print it.
Name="Sankarshan"
print(Name)

Sankarshan

In [ ]:
#2. Write a code to find the length of the string "Hello World".
text = "Hello World"
length = len(text)
print("Length of the string:", length)

Length of the string: 11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
text="Python Programming"
text[:3]

'Pyt'

In [ ]:
#4.Write a code to convert the string "hello" to uppercase.
text="hello"
uppercase_text = text.upper()
uppercase_text

'HELLO'

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
text="I like apple"
Replaced_text = text.replace("apple","orange")
Replaced_text

'I like orange'

In [ ]:
#.6.Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print("Second element:", second_element)

Second element: b

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("Minimum number:", minimum)

Minimum number: 5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
index_cat = animals.index('cat')
print("Index of 'cat':", index_cat)

Index of 'cat': 1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "orange")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is NOT in the tuple.")

Kiwi is NOT in the tuple.

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

Intersection: {2, 3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Sankarshan","age": 23,"city": "Pune"}
print(person)

{'name': 'Sankarshan', 'age': 23, 'city': 'Pune'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does NOT exist in the dictionary.")

Key 'city' exists in the dictionary.

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Alice', 'age': 30}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('a', 'b', 'c')
Dictionary: {'name': 'Alice', 'age': 30}

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted list:", random_numbers)

Sorted list: [16, 50, 64, 77, 92]

In [ ]:
#28.Write a code to create a list with strings and print the element at the third index.
strings = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at index 3:", strings[3])

Element at index 3: date

In [ ]:
#29.Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30.Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'cherry', 'apple', 'banana'}